<link rel="stylesheet" type="text/css" href="css/jobs.css">

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">Job list</h1>
        <p class="lead"></p>
    </div>
    <!-- <div class="row"> -->
    <div class="col-4 offset-8">
        <input id="searchField" class="float-right text-center" type='text' ng-model='searchText' placeholder="Pretrazi destinacije" />
    </div>
    <!-- </div> -->

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-3" ng-repeat="job in jobs | filter:searchText">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">Tura {{job.destination}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{job.timeAndDate}}</h6>
                    <p class="card-text">{{job.info.slice(0,25)}}... <button type="button" class="btn btn-info float-right mb-2 mt-1" data-toggle="modal" data-target="#jobModal" ng-click="showOne(job)">read more</button></p>
                    <a href="#" class="btn btn-secondary form-control">accept</a>

                </div>
            </div>


        </div>




    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="jobModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tura {{des}} </h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{info}}
            </div>
            <div class="modal-body">
                  <span id="timeSpan">{{time}}</span>  
                </div>
            <div class="modal-footer">
            
                <button type="button" class="btn btn-primary">accept</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>