<!-- CSS for this page -->
<link rel="stylesheet" type="text/css" href="css/login.css">

<div class="container">
  <div class="d-flex justify-content-center h-100">
    <!-- Login View BEGIN -->
    <div class="card">
      <div class="card-header">
        <h3>Prijavi se</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
        <span class="log-reg-error"></span>
      </div>
      <div class="card-body">
        <form login-form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input id="mailInput" type="text" class="form-control" placeholder="korisnički e-mail" ng-model="userData.email">

          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input id="passInput" type="password" class="form-control" placeholder="lozinka" ng-model="userData.password">
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox">Zapamti me
          </div>
          <div class="form-group">
            <input id="loginBtn" type="submit" value="Uloguj se" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Još uvek nemaš nalog?<a href="#/register">Registruj se</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Zaboravio si lozinku?</a>
        </div>
      </div>
    </div>
    <!-- Login View END -->

  </div>
</div>